.categoryListing{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

.CategoryItem{
    height: 80px;
    width: 80px;
    background:black;
    color: white;
    text-align: center;
    margin-right:10px ;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 0px 0px rgba(254,44,85,1.0);
    padding:10px 15px;
}
.CategoryName{
    text-align: center;
}

.CategoryItem :hover{
    cursor: pointer;
}