
.Profiles{
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}
.ProfilesItem{
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color:white;
  box-shadow: 4px 4px 0px 0px rgba(254,44,85,1.0);
}
.ProfilesItem__span{
  margin-right: 20px;
} 
.ProfilesItem__left{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.ProfilesItem__right{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProfilesItem__info{
  padding: 12px;
  border:4px solid blue;
  border-radius: 50px;
  background-color: black;
  color: whitesmoke;
  margin-top: 10px;
  cursor: pointer;
}