.createItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}
.categoryName {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  height: 40px;
}
