.SingleProfilesItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 30px;
    margin: 10px;
    background-color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px rgba(254,44,85,1.0);
  }
  .singleProfile__left{
    display: flex;
    flex-direction: column;
    color:white;
  }
  .ProfilesItem__infoButton{
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    background-color: black;
    border: 5px solid blue;
    color: whitesmoke;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
  }
  .galleryProfile__images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .galleryProfile__imagesURL{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
 
  